@{
    var carritoIds = Context.Session.GetObject<List<int>>("CarritoIds") ?? new List<int>();
    var numProductos = carritoIds.Count;
}

@if (!Context.User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a asp-controller="Managed"
           asp-action="Login"
           class="nav-link">
            Login
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a asp-controller="Cubos"
           asp-action="Carrito"
           class="nav-link">
            Carrito (@numProductos)
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="Cubos"
           asp-action="HistorialCompra"
           class="nav-link">
            Historial
        </a>
    </li>
 @*    <li class="nav-item">
        <a asp-controller="Cubos"
           asp-action="Index"
           class="nav-link">
            Hola, @Context.User.FindFirst("NOMBRE").Value
        </a>
    </li> *@
    <li class="nav-item">
        <a asp-controller="Managed"
           asp-action="Logout"
           class="nav-link">
            Cerrar sesión
        </a>
    </li>
}
